*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.welcome{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.half{
    width: 50%;
    margin:0 5%;
}

h1{
    font-size: 45px;
    margin-bottom: 25px;
}

.orange{
    color: orangered;
}

h3{
    font-size: 25px;
    margin-bottom: 25px;
}

p{
    margin-bottom: 25px;
}
.btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, 
    orangered, 
    rgb(255, 128, 0));
    padding: 10px 35px;
    border-radius: 10px;
}

.dream{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


.experiences{
    margin-bottom: 100px;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.left{
    box-shadow: 10px 5px 25px gray;
    padding-left: 25px;
    border-left: 7px solid orangered;
    min-height: 350px;
}

.right{
    box-shadow: 10px 5px 25px gray;
    padding-left: 25px;
    border-left: 7px solid rgb(38, 94, 245);
    min-height: 350px;
}

footer p{
    text-align: center;
    color: gray;
    margin-bottom: 100px;
}